.page{
  width: 100%;
  height: 1280px;
  align-content: center;
  justify-content: center;
  display: flex;
  background-color: #f2dd9f;
}
.maintainer{
  background-color: #ffffd6;
  width: 800px;
  height: 1080px;
  align-content: center;
  justify-content: center;
  display: flex;
  border-radius: 25px;
  position: absolute;
  top: 100px;

}

.text{
  font-size: 24px;
  color: #2eaeb8;

}
